<div class="container">
  <div class="row">
    <div class="col-md-3">

  <%= render 'users/list', book: @book, user: @user %>
</div>
    <div class="col-md-8 offset-md-1">
<h1>Book detail</h1>
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
    <tr>
      <td><%= image_tag @book_detail.user.get_profile_image(100,100) %><br>
        <%= link_to @book_detail.user.name, user_path(@book_detail.user) %>
      </td>
      <td><%= link_to @book_detail .title, book_path(@book_detail) %></td>
      <td><%= @book_detail.body %></td>
      <td id = <%="favorite_buttons_#{@book_detail.id}"%>><%= render "favorites/btn", book: @book_detail %></td>
      <% if @book_detail.user == current_user %>
        <td>
          <%= link_to "Edit", edit_book_path(@book_detail), class: "btn btn-sm btn-success edit_book_#{@book.id}" %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@book_detail), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger destroy_book_#{@book.id}" %>
        </td>
      <% end %>
      <td class="counter"> <%= render "comments/counter", book: @book_detail %></td>
    </tr>
  </table>
  <h1 class="text-center"></h1>
  <div class="comment_area">
      <%= render "comments/index", book: @book_detail %>
  </div>
      <%= render "comments/form", book: @book_detail, comment: @comment %>
  </div>
 </div>
</div>
